<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <link rel="stylesheet" href="../stylesheets/styleBlog.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div id="conteiner">


        <header>
            
            <a href="./Blog">
               
                <img id="logo" src="../images/LOGO.png" alt="">
                
            </a>
                
                <div class="social-networks">
                    <a href="https://www.facebook.com/neto.jose.5621/">
                        <img src="../images/FACE.png" alt="facebook">
                    </a>
                    <a href="https://www.instagram.com/dev_neto/">
                        <img src="../images/INSTA.png" alt="Instagrm">
                    </a>
                    <a href="https://www.youtube.com/channel/UChyQRsV1nqeLDjwsBmMTH3Q">
                        <img src="../images/YTB.png" alt="Youtube">
                    </a>

                </div>

                <div id="menu-bar">
                    <ul>
                        <li>
                            <a href="./Express">Comandos-EXPRESS</a>
                        </li>
                        <li>
                            <a href="./GitHub">GITHUB</a>
                           
                        </li>
                        <li>
                            <a href="">HTLM</a>
                          
                        </li>
                        <li>
                            <a href="">CSS</a>
        
                        </li>
                        <li>
                            <a href="">JS</a>
                            
                        </li>
                        <li>
                            <a href="">SITES-REFERENCIAS</a>
                            
                        </li>
                    </ul>

                </div>


        </header>
        <div class="limpar"></div>
       
        <div class="conteudo">
            <div class="card">

                <div class="one"> 
                    <h3>Seja bem-vindo o objetivo desse projeto e apenas estudar</h3>
                    <p> Usando node-express para facilitar a vida na hora de montar o servidor</p>
                    <p>Usando HTml para montar a extrutura</p>
                    <p>Usando CSS para dar uma estilizada </p>
                </div>

               
            </div>
         
        </div>


    </div>
</body>
</html>