<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <link rel="stylesheet" href="../stylesheets/styleHtml.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html</title>
</head>
<body>
    <div id="conteiner">


        <header>
            
            <a href="./Blog">
               
                <img id="logo" src="../images/LOGO.png" alt="">
                
            </a>
                
                <div class="social-networks">
                    <a href="https://www.facebook.com/neto.jose.5621/">
                        <img src="../images/FACE.png" alt="facebook">
                    </a>
                    <a href="https://www.instagram.com/dev_neto/">
                        <img src="../images/INSTA.png" alt="Instagrm">
                    </a>
                    <a href="https://www.youtube.com/channel/UChyQRsV1nqeLDjwsBmMTH3Q">
                        <img src="../images/YTB.png" alt="Youtube">
                    </a>

                </div>

                <div id="menu-bar">
                    <ul>
                        <li>
                            <a href="./Express">Comandos-EXPRESS</a>
                        </li>
                        <li>
                            <a href="./GitHub">GITHUB</a>
                           
                        </li>
                        <li>
                            <a href="./Html">HTLM</a>
                          
                        </li>
                        <li>
                            <a href="./Css">CSS</a>
        
                        </li>
                        <li>
                            <a href="">JS</a>
                            
                        </li>
                        <li>
                            <a href="">SITES-REFERENCIAS</a>
                            
                        </li>
                    </ul>

                </div>


        </header>
        <div class="limpar"></div>
       
        <div class="conteudo">
            
            <div class="card">
               <h1>Estrutura-HTML</h1>
               <p> Com a ajuda do VSC fazer a estrutura basica fica facil com um simples comando consiguimos iniciar o html</p>
               <p>Basta apenas digitar html que aparecera algumas opcoes entre elas escolho a html:5</p>
               <img src="../images/html1.png" alt="html:5">

                <p>
                    o resultado sera essse :
                </p>
                <img src="../images/html.png" alt="">

                <p>
                    Explicacao rapida: o < meta charset="UTF-8" > padroniza o site com o modelo UTF-8 que é padrao em varios locais aceitando acentos e etc... 
                </p>
                <p>
                     o < meta name="viewport" content="width=device-width, initial-scale=1.0"> nao saberei explicar de forma boa no momento desculpe
                </p>
                <p>
                    o < title>Html < /title> como o proprio nome diz Titulo da sua pagina html
                </p>
                <p>
                    o < head>  < /head> é a cabeça da pagina 
                </p>
                <p>
                    o < body>  < /body> é o corpo da pagina tudo colocado nele aparecera na pagina dentro do navegador
                </p>

            </div>
            <div class="card">
                <h1>Tags-HTML</h1>
                <p>
                    Tags ou elementos HTML sao diversas entre elas:
                </p>
                <ul>
                <li>
                    a tag < p> < /p> que serve para fazer paragrafos em html
                </li>    
                <li>
                    a tag < a href="Link Da Pagina">  NomeDoLink < /a> que serve para colocarmos um link
                </li>
                <li>
                    a tag h1,h2,h3,h4,h4,h6  < h1> < /h1> Que servem para Titulos h1 sendo o maior titulo h2 um pouco menor e assim por diante
                </li>
                <li>
                    a tag < img src="Local da imagem" alt="Caso a imagem nao carregue"> que serve para exibirmos uma imagem
                </li>
                <li>
                    a tag ul que serve para iniciar uma lista como essa e a tag li para colocar os itens da lista < ul> < li> item < /li>< /ul>
                </li>
                <li>
                    a tag ol que serve para iniciar uma lista ordenada que tambem tem a tag  li para os itens < ol>< li> item  < /li>< /ol>
                </li>
                <li>
                    a tag div que serve para colocarmos uma divisao 
                </li>
                <li>
                    em todas podemos colocar um id ou uma class que servem para diferenciar principalmente no css
                </li>
                <li>
                    tags podem receber tags exeplo: < div> 
                        < a href=""> 
                            < img src="" alt="">
                        < /a>
                    < /div> criamos uma divisao que contem um link com imagem
                </li>
                <li>
                    e muitas outras recomendo o site: <a href="https://www.w3schools.com/html/">W3schools</a>
                </li>
                </ul>
             </div>
         
        </div>

    </div>
</body>
</html>